#blog {
	position: absolute;
	margin: 0;
	padding: 1% 5% 0% 5%;   
	width: 60%; 
	top: 40%; 
	left: 5%; 
	box-shadow: 0.1em 0.1em 0.1em 0.1em #888888;
	background-image:url('background.jpg');	  
}

#blog iframe {
	position: relative;
	float: bottom; 
}

#blog a, #schedule a {
	color: #646B74;
}

#blog a:hover , #schedule a:hover {
	color: #000052;
}

#schedule {
	position: absolute; 
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color:#000052;
	top: 40%; 
	right: 0%;
	text-align: center; 
}

#schedule div {
	box-shadow: 0.1em 0.1em 0.1em 0.1em #888888;
	border: 1px solid;
	padding: 2%;
}

#schedule div div {
	#schedule div
}

#stories {
	width: 20%;
	position: absolute; 
	top: 70%;
	right:0%;
	border: 2px solid;    
}

#stories #selfPortrait {
	text-align: center;
	border: 2px solid;
}
