body {
	background-color: black; 	

}



#header {
	top: 1em; 
	left: 1em; 
	color: white;
	background-color: #000052; 
	height: 13em;
	width: 45em; 
	padding: 0.3em;
	position: fixed;
	font-size: 250%;
}

p {
	size: 100%;
	font-size: 140%;
	position: fixed;
	left: 20em; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans;
}
ul {	
	border: 0.2em solid; 
	display: inline;
	font-size: 250%;
	color: #C8C8C8;
	padding: 0.5em; 
	background-color: #606060;
	position: relative; 
	top: 12em;
}
 
a { 
	text-decoration: none;
	font-family: "Lucida Sans", "Lucida Grande", sans;
	color: #C8C8C8;
	text-align: center; 
}

a:visited {
	color: #C8C8C8; 
}

a:hover {
	color: #000052; 
}

#one, #onePanel, #two, #twoPanel, #three, #threePanel { 	
	padding: 3em; 
	font-family: "Lucida Sans", "Lucida Grande", sans;
	font-size: 150%;	
	text-align: center; 
	background-color: #AD3333; 
	width: 23.5em; 
	position: fixed;  
	border: 0.2em solid;
	border-color: white;  
	border-radius: 10px;
	padding: 0.5em;    
	}
#one {
	top: 25em;
	left: 3em;
}

#one:hover, #two:hover, #three:hover {
	background-color: blue;  
}

#two {
	top: 25em; 
	left: 28em; 
}

#three {
	top: 25em; 
	left: 53em; 
}

#onePanel, #twoPanel, #threePanel {
	position: fixed;
  	top: 28em; 
	padding:0.5em;
	display: none; 
}

#onePanel {
	left: 3em;
}

#twoPanel {
	left: 28em; 
}

#threePanel {
	left: 53em; 
}


