body {
	width: 100%;   	
	position: absolute;
	margin: auto;  
}



#header {  
	color: white;
	background-color: #000052; 
	height: 10%;
	width: 100%; 
	padding: 0.01%;
	font-size: 1.3em;
	box-shadow: 0.1em 0.1em 0.1em #888888;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
}

p {
	color: black;
	font-size: 1.5em;
	top: 20%; 
	text-align: right; 
	font-family: "Brush Script MT", cursive;
}

#buttons {
	text-align: center; 
}
ul {	
	border: 0.1em outset #C8C8C8;
	display: inline;
	font-size: 1.47em;
	padding: 0.5%; 
	background-color: white;
}
 
a { 
	text-decoration: none;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: #787878; 
}

a:visited {
	color: #787878; 
}

a:hover {
	color: #000052; 
}


