body {
	width: 100%;   	
	margin: auto;
	  
}


#header {  
	background-color: white; 	
	color: #000052;
	position: absolute;
	height: 10%;
	width: 100%; 
	padding: 2%;
	font-size: 3em;
	box-shadow: 0.1em 0.1em 0.1em #888888;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;  
	display: inline; 
}

#translate {
	position: absolute; 
	top: 0%; 
	right: 25%; 	
	font-size: 0.3em; 
	background-color: white; 
	border: 2px solid; 
}

#search {
	position: absolute; 
	width: 20%;
	top: 0%;  
	right: 5%;
}

#social {
	position: absolute; 
	top: 50%;	
	right: 10%;  
}

#buttons {
	position: absolute; 
	top: 20%; 
	left: 1%;  	
	display: inline;
	font-size: 1.47em;
	padding: 0.5%; 
	background-color: white;
	border: 2px outset #C8C8C8;
}
 
a { 
	text-decoration: none;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	color: #787878; 
}

a:visited {
	color: #787878; 
}

a:hover {
	color: #000052; 
}

gcse:search {
	position: absolute; 
	width: 60px; 	
}
