<!DOCTYPE html> 
<html>
	<head>
	<meta name="description" content="EMC Learning Center provides exceptional preparation for academic success. Courses include PSAT, SAT, and more.'">		
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
	<meta name="google-translate-customization" content="7c1e236aad0c81a4-c629a7f8ea499f55-g684386ac1fcf75d1-1a"></meta>
		<link type="text/css" rel="stylesheet"
 href="template.css"/>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

		<title> 
			EMC Learning Center
		</title>
	</head>	
	<body>
		<div id = "header">
				<img src="logoBanner.png" alt="EMC Learning Center" height="100%" width="40%"> 
			<div id = "translate">
				<p> translator </p>
				<div id="google_translate_element"></div><script type="text/javascript">
	function googleTranslateElementInit() {
	  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
	}
	</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			</div>
			<div id = "search" >
				<script>
  (function() {
    var cx = '006858167635120279394:jlj3d9rkofq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
			</div>
			<div id = "social" >
			<g:plusone></g:plusone>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
			</div>		
		</div>
		<div id = "buttons" > 
				<a href="file:///home/samia.emcLearningCenter/.html">Home</a>
				|
				<a href="file:///C:/Users/Nazifa/Documents/GitHub/emcLearningCenter/grades.html">Grades (1-6)</a>
				|
				<a href="https:www.google.com/">SHSAT</a>
				|
				<a href="https:www.google.com/">PSAT</a>
				|
				<a href="https:www.google.com/">SAT</a>		
				|
				<a href="https:www.google.com/">Math</a>
				|
				<a href="https:www.google.com/">Math Competition</a>
				|
				<a href="https:www.google.com/">Puzzles</a>
				|
				<a href="https:www.google.com/">Writing</a>
				|
				<a href="https:www.google.com/">Writing Garden</a>
				|
				<a href="https:www.google.com/">Chess</a>			
		</div>

		<div id = "schedule">
			<h1>Schedule</h1>
			<div> 
				Closed due to inclement weather			
				<li>Date: Febuary 11 2014</li>
				<div> <a href="https:www.google.com/">View Calendar</a>	
				</div>
			</div>
		</div>
	</body> 
</html>
